<h3><%= @video.title %></h3>

<ul class="postinfo">
	<li>Author: 
		<%= link_to @video.submitter.display_name, user_url(@video.submitter.login) %>
	</li>
	<li>Language: <%= @video.language %></li>
	<li>Tags: <%= tag_links(@video.tags) %></li>
	<li>Rating:  <%= @video.rating %></li>
	<li>Number of Votes:  <%= @video.ratings.size %></li>
</ul>

<p><%= @video.long_descr %></p>

<h2>Comments</h2>
<div id="comments">
	<%= render :partial => @comments %>
</div>

<% if current_user && current_user != :false %>
	<h2>Post a Comment</h2>
	<% form_for :comment, :url => {:controller => :comment, :action => :create} do |f| %>
		<div>
			<input type="hidden" name="comment[video_id]" value="<%= @video.id %>"/>
			<label for="user_comment">Comment</label>
		</div>
		<div>
			<%= f.text_area(:comment, :cols => 60, :rows => 10) %>
		</div>
		<div><%= submit_tag 'Comment' %></div>
	<% end %>
<% end %>